.search-box{
  background: whitesmoke;
  height: 40px;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  float: right;
}
.search-box:hover > .search-text{
    width: 300px;
}
.search-text{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transform: 0.4s;
    background: transparent;
    float: left;
    }
.search-btn{
    font-size: 20px;
    float: right;
}
.search-btn i{
    text-decoration: none;
    color: black;
}
